@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-icon circle {
  stroke-width: 1;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.marker {
  background-image: url("/src/assets/icons/marker.png");
  background-size: 1.5rem 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  cursor: pointer;
  @apply border-2 border-violet-500 bg-violet-100 w-8 h-8 shadow-2xl shadow-indigo-500/50;
}
